################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/iwmd281/v17/.wsuo
/.vs/iwmd281/v17/DocumentLayout.json
/.vs
